<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['/admin/order']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-credit-card"></i>&nbsp;Orders
        </a>
        <a [routerLink]="['/admin/product']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-gift"></i>&nbsp;Products
        </a>
        <a [routerLink]="['/admin/customer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Customers
        </a>
        <a [routerLink]="['/admin/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-secret"></i>&nbsp;Admins
        </a>
    </ul>
</nav>
