<app-page-header [heading]="'Customers'" [icon]="'fa-table'"></app-page-header>
<div class="row" *ngIf="showFormFlag">
    <div class="col col-xl-12 col-lg-12">
        <form #customerForm="ngForm">
            <div class="card mb-3">
                <div class="card-header">
                    {{customer.id ? 'Edit' : 'Add'}} Customers
                </div>
                <div class="col-md-6">

                    <fieldset class="form-group align-middle">
                        <label>First Name</label>
                        <input class="form-control" [(ngModel)]="customer.firstName" name="firstName" id="firstName"
                               placeholder="Enter a First Name" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Last Name</label>
                        <input class="form-control" [(ngModel)]="customer.lastName" name="lastName"
                               placeholder="Enter a Last Name" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Email</label>
                        <input class="form-control" [(ngModel)]="customer.email" name="email" type="email" email
                               placeholder="Enter a Email" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Password</label>
                        <input class="form-control" [(ngModel)]="customer.password" name="password" type="password"
                               placeholder="Enter a Password">
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Phone</label>
                        <input class="form-control" [(ngModel)]="customer.phone" name="phone"
                               (keyup)="checkPhone(customer.phone)" placeholder="Enter a Phone">
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Billing Address</label>
                        <input class="form-control" [(ngModel)]="customer.billingAddress" name="billingAddress"
                               placeholder="Enter a Billing Address">
                    </fieldset>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="shippingDifferent"
                                   [(ngModel)]="customer.shippingDifferent">
                            Shipping address is different
                        </label>
                    </div>

                    <fieldset class="form-group align-middle" *ngIf="customer.shippingDifferent">
                        <label>Shipping Address</label>
                        <input class="form-control" [(ngModel)]="customer.shippingAddress" name="shippingAddress"
                               placeholder="Enter a Shipping Address">
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Status</label>
                        <select class="form-control" [(ngModel)]="customer.status" name="status">
                            <option *ngFor="let item of statusList;" [ngValue]="item.value">{{ item.name }}</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Files</label>
                        <div class="form-group align-middle">
                            <div class="col-md-12">
                                <input class="form-control" type="file" name="files[]" #fileInput
                                       (change)="fileChangeEvent($event);fileInput.value = ''"
                                       placeholder="Upload file..." accept="image/x-png,image/gif,image/jpeg" multiple />
                                <br>
                                <li *ngFor="let file of customer.files">
                                    {{file}}<i style="cursor: pointer;" (click)="deleteFile(file)" class="fa fa-remove"></i>
                                </li>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group align-middle">
                        <div class="col-md-8">
                            <button class="btn btn-danger" (click)="customerCancel()">Cancel</button>
                            <button class="btn btn-success" (click)="customerSave()" [disabled]="!customerForm.form.valid">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Customers</div>
            <div class="card-block table-responsive">
                <button class="btn btn-success" (click)="setShowForm(!showFormFlag)">Add New</button>
                <br><br>
                <input class="form-control" [(ngModel)]="tableParams.search" name="search"
                       placeholder="Enter a Name" (keyup)="searchFilter()" *ngIf="customerList.length">
                <br>
                <table class="table table-bordered" *ngIf="customerList.length">
                    <thead class="thead-inverse">
                    <tr>
                        <th (click)="sortField(1)" style="cursor: pointer;">#</th>
                        <th (click)="sortField(2)" style="cursor: pointer;" width="60%">Name</th>
                        <th (click)="sortField(4)" style="cursor: pointer;" width="60%">Email</th>
                        <th (click)="sortField(5)" style="cursor: pointer;" width="20%">Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let customer of customerList; let i = index;">
                        <td>{{customer.id}}</td>
                        <td class="central">
                            {{customer.firstName}} {{customer.lastName}}
                        </td>
                        <td class="central">{{customer.email}}</td>
                        <td class="central">{{statusList[customer.status].name}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editCustomer(customer.id)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="advancedPagination" [maxSize]="5"
                                [rotate]="true" *ngIf="customerList.length" (pageChange)="changePage($event)"
                                [ellipses]="false" [boundaryLinks]="true" [pageSize] = "tableParams.limit">
                </ngb-pagination>
                <div *ngIf="!customerList.length">
                    Customers not found
                </div>
            </div>
        </div>
    </div>
</div>