<app-page-header [heading]="'Products'" [icon]="'fa-table'"></app-page-header>
<div class="row" *ngIf="showFormFlag">
    <div class="col col-xl-12 col-lg-12">
        <form #productForm="ngForm">
            <div class="card mb-3">
                <div class="card-header">
                    {{product.id ? 'Edit' : 'Add'}} Products
                </div>
                <div class="col-md-12">

                    <fieldset class="form-group align-middle">
                        <label>Category</label>
                        <select class="form-control" [(ngModel)]="product.category" name="category" required>
                            <option *ngFor="let item of categoryList;" [ngValue]="item.value">{{ item.name }}</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Name</label>
                        <input class="form-control" [(ngModel)]="product.name" name="name" id="name"
                               placeholder="Enter a Name" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Description</label>
                        <app-tinymce [(ngModel)]="product.description" name="description" required></app-tinymce>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Cost</label>
                        <input class="form-control" [(ngModel)]="product.cost" name="cost" id="cost"
                               placeholder="Enter a Cost" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Status</label>
                        <select class="form-control" [(ngModel)]="product.status" name="status" required>
                            <option *ngFor="let item of statusList;" [ngValue]="item.value">{{ item.name }}</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Files</label>
                        <div class="form-group align-middle">
                            <div class="col-md-12">
                                <input class="form-control" type="file" name="files[]" #fileInput
                                       (change)="fileChangeEvent($event);fileInput.value = ''"
                                       placeholder="Upload file..." accept="image/x-png,image/gif,image/jpeg" multiple />
                                <br>
                                <li *ngFor="let file of product.files">
                                     {{file}} <i style="cursor: pointer;" (click)="deleteFile(file)" class="fa fa-remove"></i>
                                </li>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group align-middle">
                        <div class="col-md-8">
                            <button class="btn btn-danger" (click)="productCancel()">Cancel</button>
                            <button class="btn btn-success" (click)="productSave()" [disabled]="!productForm.form.valid">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Products</div>
            <div class="card-block table-responsive">
                <button class="btn btn-success" (click)="setShowForm(!showFormFlag)">Add New</button>
                <br><br>
                <input class="form-control" [(ngModel)]="tableParams.search" name="search"
                       placeholder="Enter a Name" (keyup)="searchFilter()" *ngIf="productList.length">
                <br>
                <table class="table table-bordered" *ngIf="productList.length">
                    <thead class="thead-inverse">
                    <tr>
                        <th (click)="sortField(1)" style="cursor: pointer;">#</th>
                        <th (click)="sortField(4)" style="cursor: pointer;">Category</th>
                        <th (click)="sortField(2)" style="cursor: pointer;">Name</th>
                        <th (click)="sortField(3)" style="cursor: pointer;">Cost</th>
                        <th (click)="sortField(5)" style="cursor: pointer;">Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of productList; let i = index;">
                        <td>{{product.id}}</td>
                        <td>
                            {{categoryList[product.category].name}}
                        </td>
                        <td>
                            {{product.name}}
                        </td>
                        <td>
                            {{product.cost}}
                        </td>
                        <td class="central">{{statusList[product.status].name}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editProduct(product.id)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="advancedPagination" [maxSize]="5"
                                [rotate]="true" *ngIf="productList.length" (pageChange)="changePage($event)"
                                [ellipses]="false" [boundaryLinks]="true" [pageSize] = "tableParams.limit">
                </ngb-pagination>
                <div *ngIf="!productList.length">
                    Products not found
                </div>
            </div>
        </div>
    </div>
</div>