<div class="products">
<h5>Edit product:</h5>
<form [formGroup]="productForm" novalidate (ngSubmit)="onSaveProduct(productForm.value)">
        <md-form-field class="full-width">
            <input mdInput class="form-control" placeholder="Product name" formControlName="productName"  
             [ngModel]="productName">
            <md-error>This field is required</md-error>
        </md-form-field><br>
        <md-form-field class="full-width">
            <input mdInput class="form-control" placeholder="Product price" formControlName="price"  [ngModel]="price">
            <md-error>This field is required</md-error>
        </md-form-field><br>
        <md-form-field class="full-width">
            <textarea mdInput placeholder="Your product description..." class="form-control" formControlName="description" [ngModel]="description"></textarea>
            
        </md-form-field><br>

        
          <md-checkbox mdInput class="select-margin" formControlName="available" [ngModel]="available">Available</md-checkbox>
          <md-checkbox mdInput class="select-margin" formControlName="best_seller" [ngModel]="best_seller">Best seller</md-checkbox><br><br>
        
        <button md-raised-button type="submit" color="accent">Save Change</button><button md-raised-button color="primary" [routerLink]="['/admin/list']">Back to list</button>
    </form>

</div>