<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
<div class="row" *ngIf="showFormFlag">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">{{user.id ? 'Edit' : 'Add'}} Users</div>
            <div class="col-md-6">
                <form role="form" #userForm="ngForm">

                    <fieldset class="form-group align-middle">
                        <label>First Name</label>
                        <input class="form-control" [(ngModel)]="user.firstName" name="firstName" id="firstName"
                               placeholder="Enter a First Name" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Last Name</label>
                        <input class="form-control" [(ngModel)]="user.lastName" name="lastName"
                               placeholder="Enter a Last Name" minlength="2" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Email</label>
                        <input class="form-control" [(ngModel)]="user.email" name="email" type="email" email
                               placeholder="Enter a Email" required>
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Password</label>
                        <input class="form-control" [(ngModel)]="user.password" name="password" type="password"
                               placeholder="Enter a Password">
                    </fieldset>

                    <fieldset class="form-group align-middle">
                        <label>Role</label>
                        <select class="form-control" [(ngModel)]="user.role" name="frequency">
                            <option *ngFor="let item of roles;" [ngValue]="item.value">{{ item.name }}</option>
                        </select>
                    </fieldset>

                    <div class="form-group align-middle">
                        <div class="col-md-8">
                            <button class="btn btn-danger" (click)="userCancel()">Cancel</button>
                            <button class="btn btn-success" (click)="userSave()" [disabled]="!userForm.form.valid">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Users</div>
            <div class="card-block table-responsive">
                <button class="btn btn-success" (click)="setShowForm(!showFormFlag)">Add New</button>
                <br><br>
                <input class="form-control" [(ngModel)]="tableParams.search" name="search"
                       placeholder="Search by Name" (keyup)="searchFilter()">
                <br>
                <table class="table table-bordered">
                    <thead class="thead-inverse">
                    <tr>
                        <th (click)="sortField(1)" style="cursor: pointer;">#</th>
                        <th (click)="sortField(2)" style="cursor: pointer;">Name</th>
                        <th (click)="sortField(4)" style="cursor: pointer;">Email</th>
                        <th (click)="sortField(5)" style="cursor: pointer;">Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of userList; let i = index;">
                        <td>{{user.id}}</td>
                        <td class="central">{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{roles[user.role].name}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editUser(user.id)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true"
                                (pageChange)="changePage($event)" [ellipses]="false" [boundaryLinks]="true" [pageSize] = "tableParams.limit">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
