<h2>Categories</h2>
<div>
  <label>Category name:</label> <input #categoryName />
  <button (click)="add(categoryName.value); categoryName.value=''">
    Add
  </button>
</div>
<ul class="categories">
  <li *ngFor="let category of categories" (click)="onSelect(category)"
      [class.selected]="category === selectedCategory">
    <span class="badge">{{category.id}}</span>
    <span>{{category.name}}</span>
    <button class="delete"
      (click)="delete(category); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCategory">
  <h2>
    {{selectedCategory.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
